@charset "UTF-8";

		.tb1{
            /* width: 400px; */
            border: 2px solid gray;
            border-collapse: collapse;
        }
        .td1{
            /* border: 1px solid red; */
            background-color:darkseagreen;
            text-align: center;
            /*height: 250px;*/
            width: 170px;
        }
        .td2{
            /* border: 1px solid red; */
            /* text-align:center; */
            float: left;
            /*height: 250px;*/
            width: 900px;
        }
        .div1{
            height: 45px;
            width: auto;
            /* background-color: aqua; */
            border-bottom: 1px solid;

        }
        .div2{
            /*height: 150px;*/
            /* background-color: red; */
            border-bottom: 1px solid ;
            width:1000px;
            word-break:break-all ;
        }
        .div3{
            height: 45px;
            width: 100px;
            /* background-color: aqua; */
        }
        .tb2{
            width: 1000px;
        }
        .tb1{
            width: 1070px;
        }
        /* 測試 */
        .divright{
            float: right;
            line-height: 40px;
        }
        .divleft{
            float: left;
            /* line-height: 10px; */
            
        }